@charset "UTF-8";

nav {
    background: rgb(212, 225, 225);
    margin-top: -50px;
    margin-bottom: 150px;
    border-radius: 75px;

}

a {
    text-decoration: none;
}


body {
    background: rgb(173, 192, 187);
    margin: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



section {
    margin-top: 150px;
}

div {
    display: inline-block;

}

header {
    margin-top: -50px;
    margin-bottom: 250px;

}

footer {
    margin-top: 100px;
    margin-bottom: -70px;
    font-weight: bold;
}


h3 {
    margin-top: 150px;
    margin-bottom: 50px;
}

.menu {
    font-size: 20px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.pesquisar {
    font-size: 20px;
    margin-left: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.pesquisar2 {
    border-radius: 10px;
    margin-left: 15px;
    cursor: pointer;
}

.pesquisar3 {
    border-radius: 10px;
    margin-left: 15px;
    cursor: text;
}

#confBotao {
    cursor: pointer;
    border-radius: 10px;
}

.campos {
    border-radius: 10px;

}



img {
    width: 150px;
    height: 175px;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    border-radius: 80px;
}